// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.product_description{
  font-size:110%;
  line-height:110%;
}

.product_property{
  font-size:110%;
  font-weight:bold;
  border-right: solid 1px #c1c1c1;
}

.product_value{
  
}

.product_description_small{
  
  font-size:110%;
  padding: 2%;

}
.product_price{
  position:absolute;
  top:1%;
  left:0; 
  font-family:Georgia,Courier,Helvetica,Geneva,Verdana,Arial,Times;
  font-weight:bold;
  font-size:130%;
  @include cool_box;   
}

.product_price_show{
  //color:green;
}

.product_image_and_price{
  position:relative;
  
}

.product_info{

  border:solid 1px #c1c1c1;

  }



.product_row_title{
  
  font-size:200%;
  font-weight:bold;  
  line-height:110%; 
}
