// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_description{
  font-size:110%;
}

.product_property{
  font-size:110%;
  font-weight:bold;
  border-right: solid 1px #c1c1c1;
}

.product_value{
  
}
